* {
  box-sizing: border-box;
}
p
{
	margin:10px;
}
h1 {
	margin-bottom: 15px;
	text-align:center;
}

.div {
  width: 90%;
  height: 150px;
	font-family: Helvetica;
  
}
div #SectionTitle
{
	  
	  right:0px;
	  float:right;
	  border:3px solid black;
	 

}


#p1
{
	background-color: #eafc28;
	position:relative;
	border:10px solid white;
	
	
	

}
#p2
{
	background-color: #fc28f1;
	position:relative;
	border:10px solid white;
	
	
	
}
#p3
{
	background-color: #fcb928;
	position:relative;
	border:10px solid white;
	 

	
}
.row {
  width: 100%;
}
body{
	position:relative;
}

@media (min-width: 768px) and (max-width: 991px) {
 .col-md-6, .col-md-12 {
    float: left;
	position:relative;
	
		
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}

/*Large device*/
@media (min-width: 992px) {
   
 
  .col-lg-4 {
    width: 33.33%;
	float: left;
	
  }
  
}
/* small devices */
@media (max-width: 767px) 
{
	 .col-sd-12 {
    float: left;

  }
    
  .col-sd-12 {
    width: 100%;
	
  }
}
